[submodule "strings_cpp"]
	path = strings_cpp
	url = https://github.com/anim1311/strings_cpp.git
[submodule "Unique_pointers"]
	path = Unique_pointers
	url = https://github.com/anim1311/Unique_pointers.git
